$white     : #fefefe;
$darkWhite : #f5f5f5;
$black     : #333;
$lightBlack: #555;
$darkBlack : #111;
$gray      : #ddd;
$beige     : #F9F8F3;
$lightGray : #eee;
$darkGray  : #999;
$red       : #f55c5c;
$blue      : #1c4ac9;
$lightGreen: #94b584;
$darkGreen : #354814;
$mainGreen : #708848;

$mainColor     : $blue;
$baseColor     : $white;
$accentColor   : $blue;
$secondaryColor: $blue;
$alertColor    : $red;
$inactiveColor : $gray;